.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.idea
.vscode
.vs

/node_modules
/.pnp
.pnp.js
.nyc_output

/dist
/build
/coverage
/errors
/test*.*

Thumbs.db
*.log
*.tmp
