.DS_Store
.env
.env*.local

/node_modules
/build
/dist
/coverage
/test*.*
/errors

.pnp.*
**/.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

.idea
/.vscode
/.vs

.nyc_output
.devcontainer

Thumbs.db
package-lock.json
*.log
*.lock
*.tmp
